@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;500;700&display=swap');
html, body{
    margin: 0;
    padding: 0;
    text-align: center;
}

*{
    font-family: "Gupter", serif;
}

.primary-btn{
    color: rgb(158, 25, 25);
    text-transform: uppercase;
    font-size: 30px;
    background: linear-gradient(45deg, rgb(254, 48, 114), rgb(225, 89, 64));
    padding: 12px, 30px;
    border-radius: 20px;
    border: none;
}

.primary-btn:hover{
    background: linear-gradient(260deg,  rgb(254, 48, 114), rgb(225, 89, 64));
}



/* -----nav--- */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container{
    width: 170px;
    margin: 15px;
}

nav  .logo-container .logo{
    width: 100%;
}

nav .nav-btn{
    color: rgb(254, 48, 114);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    height: 50px;
    margin: 45px 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

nav .nav-btn:disabled{
    color: rgb(197, 29, 82);
    background-color: rgb(171, 161, 161);
}

/* ----home--- */

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
    ), url(images/bg_img.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

.primary-title{
    font-size: 70px;
    color: rgb(225, 225, 225);
}

.home{
    margin-top: 30vh;
}

/* ----auth model--- */

.auth-modal{
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 450px;
    background-color: rgba(149, 153, 154, 0.629);
    border-radius: 10px;
    padding: 40px;
    cursor:pointer ;
}

.submit-btn{
    color: rgb(121, 119, 119);
    background-color: rgb(225, 225, 225);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121, 119, 119);
    margin: 6px;
}
.submit-btn:hover{
    color: rgb(93, 90, 90);
    background-color: rgb(198, 189, 189);
}

.close-btn{
    float: right;
}

.auth-modal form{
     display: flex;
     flex-direction: column;
}

.auth-modal input[type=email],
.auth-modal input[type=password]{
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

/* ---------onboarding------------ */

.onboarding{
    border-top: 1px solid rgb(171, 169, 170);
}

.onboarding form{
    display: flex;
    justify-content: center;
}

.onboarding form section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.onboarding form input{
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(153, 141, 141);
    border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.onboarding form label{
    padding: 15px 0;
    font-size: 20px;
}

.onboarding form .multiple-input-container{
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input{
    margin-right: 10px;
}

.onboarding form .multiple-input-container label{
    padding: 10px;
    border: solid 2px rgb(144, 144, 144);
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.onboarding form .multiple-input-container input[type=radio]{
    display: none;
}

.onboarding form input[type=radio]:checked + label{
    border: solid 2px rgb(165, 54, 54);
}

.onboarding form input[type=submit]:hover{
    background-color: rgb(191, 52, 96);
}

.onboarding form input[type=submit]:active{
    background-color: rgb(191, 52, 96);
}

.onboarding form input[type=number]{
    width: 15%;
    margin: 5px;
}

.onboarding form .photo-container img{
    width: 100%;
    height: 80%;

}